<main class="container">
  <%= link_to sanitize("&larr; Back to invoices"), invoices_path(@invoice) %>
  <div class="header">
    <h1>Edit Invoice</h1>
  </div>
  <%= render 'form', invoice: @invoice %>
</main>
